<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_food_App</title>
</head>
<body>

    <h1>Page d'acceuil</h1>
    <hr>
    <ul>
        <li> <a href="{{url_for('login')}}">Se connecter</a></li>
        <li><a href="{{url_for('poser_question')}}">Chat Bot</a></li>
        <li><a href="{{url_for('get_nourritures')}}">Nourritures</a></li>   
        <li><a href="{{url_for('selectionner')}}">Faire un ajout à la Base de donnée</a></li>   
    </ul>  
    
</body>
</html>